@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 110px 100px 70px 100px;
    background-color: #E8F1F2;
    color: #ff0099;
}

.left {
    width: 30%;
}

.left-box {
    position: relative;
    width: 100%;
    height: 50%;
    border: 2px solid #ff0099;
}

.letter-tag, .time-tag {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.letter-container {
    border-bottom: none;
}

.letter, .time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 220px;
    font-weight: 600;
    margin: 0;
}

.time {
    font-size: 150px;
}

.edit-time {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    background: transparent;
    border: none;
    color: #ff0099;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.time-container .editContainer {
    display: none;
    transition: all 0.2s ease-in;
}

.time-container.edit .time {
    display: none;
}

.time-container.edit .editContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timeInput {
    font-size: 100px;
    width: 60%;
    text-align: center;
    border: 1px solid #ff0099;
    background-color: #E8F1F2;
    color: #ff0099;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}

.updateTime {
    border: none;
    background-color: #ff0099;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    width: 60%;
    margin-top: 10px;
    padding: 5px 10px;
    transition: transform 0.2s ease-out;
    color: white;
}


.updateTime:hover {
    transform: scale(1.05);
}

/* Remove up and down arrows on the input bar */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.random-letter {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    background: transparent;
    border: none;
    color: #ff0099;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.edit-time:hover, .random-letter:hover {
    color: #000;
}

.middle {
    width: 60%;
}

.category-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #ff0099;
    border-left: none;
    height: 100%;
    font-size: 18px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 2px solid #ff0099;
}

.minus, .plus {
    cursor: pointer;
    background: transparent;
    color: #ff0099;
    border: none;
    font-size: 12px;
    transition: color 0.2s ease-in-out;
}

.number {
    font-size: 18px;
}

.minus:hover, .plus:hover {
    color: #000;
}

.right {
    width: 10%;
}

.play-container, .restart-container {
    border: 2px solid #ff0099;
    border-left: none;
    position: relative;
    height: 50%;
}

.play-container {
    border-bottom: none;
}

.play, .restart {
    background: transparent;
    border: none;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: font-size 0.2s ease-in;
    cursor: pointer;
    color: #ff0099;
}

.play:hover, .restart:hover {
    font-size: 70px;
}

.play:focus, .restart:focus {
    outline: 0;
}

.word-wrap {
    font-size: 25px;
    padding: 10px 15px;
    border-bottom: 1px solid #ff0099;
}

.category {
    margin: 0 10px;
    background-color: none;
    /* background: linear-gradient(to left, #E8F1F2 50%,#ff0099 50%) right; */
    background-color: #E8F1F2;
    /* background-size: 200%; */
    /* transition: .3s ease-out; */
    -webkit-transition: background-color 200ms ease-in;
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
}

.category.paused {
    /* background-position: left; */
    background-color: #ff0099;
    /* -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; */
    margin: 0 10px; 
}

.word-wrap:first-of-type {
    border-top: none;
}

.categories {
    height: 100%;
    overflow: auto;
    display: inline-block;
    transition: all 0.3ms ease-in;
}

.categories.hide {
    display: none;
}

img {
    position: absolute;
    width: 100px;
    top: 15px;
    left: 50px;
}

.add-category-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: all 0.3ms ease-in;
    overflow: hidden;
}

.add-category-container.add {
    display: flex;
    flex-direction: column;
}

.add-category {
    font-size: 25px;
    margin: 0;
    border: none;
    color: #ff0099;
    padding: 5px 15px;
    background-color: #E8F1F2;
}

.add-category:focus, .edit-time:focus, .random-letter:focus, .minus:focus, .plus:focus, .delete-btn:focus {
    outline: 0;
}

.category-list {
    list-style-type: none;
    font-size: 20px;
    padding: 5px 15px;
    overflow: auto;
    margin: 0;
}

.category-list li {
    margin-bottom: 5px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-categories {
    color: black;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.add-categories:hover {
    color: #ff0099;
}

.delete-btn {
    border: none;
    background: transparent;
    color: black;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

.delete-btn:hover {
    color: #ff0099;
}

/* Media Queries */
@media(max-width: 1322px) {
    .letter {
        font-size: 200px;
    }
    
    .time {
        font-size: 140px;
    }

    .timeInput {
        width: 75%;
        font-size: 100px;
    }

    .updateTime {
        width: 75%;
    }
}

@media(max-width: 1168px) {
    .letter {
        font-size: 180px;
    }
    
    .time {
        font-size: 120px;
    }

    .timeInput {
        width: 80%;
        font-size: 90px;
    }

    .updateTime {
        width: 80%;
    }
}

@media(max-width: 965px) {
   
   body {
    padding: 80px 80px 50px 80px;
   }

   img {
       width: 70px;
   }

    .letter {
        font-size: 160px;
    }
    
    .time {
        font-size: 90px;
    }

    .timeInput {
        width: 80%;
        font-size: 75px;
    }

    .updateTime {
        width: 80%;
    }

    .play, .restart {
        font-size: 50px;
    }

    .play:hover, .restart:hover {
        font-size: 55px;
    }

}

@media(max-width: 840px) {
    
    body {
        padding: 70px 60px 40px 60px;
       }
    
       img {
           width: 60px;
       }

    .letter {
        font-size: 140px;
    }
    
    .time {
        font-size: 75px;
    }

    .timeInput {
        width: 80%;
        font-size: 65px;
    }

    .updateTime {
        width: 80%;
    }

    .play, .restart {
        font-size: 50px;
    }

    .play:hover, .restart:hover {
        font-size: 55px;
    }

    .category-container, .number {
        font-size: 15px;
    }

    .word-wrap {
        font-size: 20px;
    }
}

@media(max-width: 754px) {
    
    body {
        padding: 60px 40px 30px 40px;
       }
    
       img {
           width: 50px;
       }

    .letter {
        font-size: 140px;
    }
    
    .letter {
        font-size: 120px;
    }
    
    .time {
        font-size: 65px;
    }

    .timeInput {
        width: 80%;
        font-size: 55px;
    }

    .updateTime {
        width: 80%;
    }

    .play, .restart {
        font-size: 30px;
    }

    .play:hover, .restart:hover {
        font-size: 35px;
    }

    .category-container, .number {
        font-size: 12px;
    }

    .word-wrap, .add-category, .category-list {
        font-size: 18px;
    }
}

@media(max-width: 674px) {
    .letter {
        font-size: 100px;
    }
    
    .time {
        font-size: 50px;
    }

    .timeInput {
        width: 80%;
        font-size: 45px;
    }

    .updateTime {
        width: 80%;
    }

    .play, .restart {
        font-size: 25px;
    }

    .play:hover, .restart:hover {
        font-size: 30px;
    }

    .category-container, .number, .minus, .plus {
        font-size: 10px;
    }

    .word-wrap, .letter-tag, .time-tag, .edit-time, .random-letter, .add-category, .category-list {
        font-size: 15px;
    }

    .edit-time, .random-letter {
        right: 10px;
    }

    .letter-tag, .time-tag {
        left: 10px;
    }

    .header {
        padding: 5px 7px;
    }
}

@media(max-width: 592px) {
    .letter {
        font-size: 80px;
    }
    
    .time {
        font-size: 40px;
    }

    .timeInput {
        width: 80%;
        font-size: 35px;
    }

    .updateTime {
        width: 80%;
        font-size: 12px;
    }

    .play, .restart {
        font-size: 25px;
    }

    .play:hover, .restart:hover {
        font-size: 30px;
    }

    .category-container, .number, .minus, .plus {
        font-size: 8px;
    }

    .word-wrap, .time-tag, .letter-tag, .edit-time, .random-letter, .add-category, .category-list {
        font-size: 12px;
    }

    .edit-time, .random-letter {
        right: 5px;
    }

    .letter-tag, .time-tag {
        left: 5px;
    }

    .header {
        padding: 3px 5px;
    }
}