* {
    box-sizing: border-box;
}

body {
    background-color: #0095dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Verdana', sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 45px;
    color: white;
}

canvas {
    background: #f0f0f0;
    display: block;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #000;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background: white;
    color: black;
}

.btn:active {
    transform: scale(0.98);
}

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: white;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 0.6s ease-in-out;
}

.rules.show {
    transform: translateX(0);
}

.new-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    height: 300px;
    background-color: #2F3E46;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    z-index: 2;
    border-radius: 5px;
    color: white;
}

.new-game h3 {
    font-size: 24px;
}


.settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    height: 300px;
    background-color: #2F3E46;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    z-index: 2;
    border-radius: 5px;
    color: white;
}

.end-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    height: 300px;
    background-color: #2F3E46;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    z-index: 2;
    border-radius: 5px;
    color: white;
}

.end-game p {
    margin: 0;
}

.end-game span {
    font-size: 18px;
    font-weight: 600;
    color: #0095dd;
    margin-left: 5px;
    margin-bottom: 0;
}

.bttn {
    font-size: 20px;
    background-color: #0095dd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    width: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}


.new-game-btn, .end-settings-btn {
    font-size: 20px;
    background-color: #0095dd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    width: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.settings-btn {
    margin-bottom: 50px;
}

.bttn:hover {
    transform: scale(1.10);
}

.new-game-btn:hover, .end-settings-btn:hover {
    transform: scale(1.10);
}

.diff {
    position: absolute;
    bottom: 5px;
    left: 30px;
}

.high-score {
    position: absolute;
    bottom: 5px;
    right: 30px;
}